node_modules
.svelte-kit
frontend/src/lib/
build/*/
# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
frontend/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*


.task
bin
build/linux/appimage/build
build/windows/nsis/MicrosoftEdgeWebview2Setup.exe